.navbar .container{
    direction: ltr;
}

.header1 .container {
    direction: rtl;

}
.header1 .container h1 {
    direction: ltr;
}

.info3 .container{
    direction: ltr;
}

.info3 .container .mbr-text{
    direction: ltr;

}
.info2 .container{
    direction: ltr;
}
.form5 .container{
    direction: ltr;
}

.footer4 .container{
    direction: ltr;
}
.features16 .container {
    direction: ltr;
}
.service{
    direction:ltr
}
.features16 .container h6{
    direction: ltr;
    float: left;
}
.features16 .container p{
    direction: ltr;
    float: left;
}
