.navbar .container{
    direction: ltr;
}

.header1 .container {
    direction: rtl;

}
.header1 .container h1 {
    direction: ltr;
}

.info3 .container{
    direction: ltr;
}

.info3 .container .mbr-text{
    direction: ltr;

}
.info2 .container{
    direction: ltr;
}
.form5 .container{
    direction: ltr;
}

.footer4 .container{
    direction: ltr;
}
